<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Nat" version="3.0.1" targetFramework="net48" />
  <package id="MonoTorrent" version="2.0.7" targetFramework="net48" />
  <package id="ReusableTasks" version="2.0.0" targetFramework="net48" />
  <package id="Tomlyn" version="0.16.2" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>